<footer class="footer">
    <div class="footer-container">
        <div class="footer-info">
            <h3>InvitaCard</h3>
            <p>Creando invitaciones únicas para cada ocasión. Nos apasiona ayudar a nuestros usuarios a hacer sus
                eventos inolvidables.</p>
            <p>© 2024 InvitaCard. Todos los derechos reservados.</p>
        </div>
        <div class="footer-links">
            <h4>Enlaces Rápidos</h4>
            <ul>
                <li><a href="/home">Inicio</a></li>
                <li><a href="/plantillas">Plantillas</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/faq">Preguntas Frecuentes</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h4>Síguenos en Redes Sociales</h4>
            <div class="social-icons">
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.tik-tok.com" target="_blank">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
                <a href="https://www.youtube.com" target="_blank">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
