<app-header-home></app-header-home>
<!-- Separacion -->

<div class="card-home">
    <div class="container-principal">
        <div class="titulo">
            <mat-card-title>Crea invitaciones únicas para cualquier ocasión</mat-card-title>
            <mat-card-subtitle>¡La mejor opción para grandes y pequeños eventos!</mat-card-subtitle>
            <a mat-button class="button-crear"><mat-icon>add</mat-icon> Crear</a>
        </div>
        <div class="img-home">
            <img class="img-brillante" src="../../../assets/images/home4.png" alt="tarjeta">
        </div>
    </div>
    <app-features-card></app-features-card>
</div>
<!-- Separacion -->
<div class="segundo-scroll">
    <div class="container-scroll-header">
        <div class="titulo-scroll">
            <mat-card-title class="titulo-scroll">Facil de editar</mat-card-title>
            <mat-card-subtitle class="subtitulo-scroll">Plantillas de invitaciones</mat-card-subtitle>
        </div>
        <div class="descripcion-scroll">
            <mat-card-content class="titulo-scroll">Crea tus propias tarjetas de invitación que a tus destinatarios
                les encantarán, comenzando con una plantilla diseñada profesionalmente. Tenemos invitaciones en
                blanco, invitación para boda, invitaciones para bautizo, invitaciones de primera comunión,
                invitaciones de despedida de soltera, invitaciones navideñas y mucho más. Explora nuestras opciones
                de plantillas a continuación.
            </mat-card-content>
        </div>
    </div>
    <app-infinite-carousel></app-infinite-carousel>
    <div class="button-container">
        <a mat-button class="button-ver-plantillas">Ver más plantillas</a>
    </div>
</div>
<!-- Separacion -->
<div class="tercer_scroll">
    
    <div class="container-scroll-header">
        <div class="titulo-scroll">
            <mat-card-title class="titulo-scroll">Plantillas Destacadas</mat-card-title>
        </div>
    </div>
    <app-carousel-expanding></app-carousel-expanding>
    <div class="button-container">
        <!-- crea 4 botones, el primero llamado elige tu diseño, el segundo personaliza, el tercero comparte y el ultimo descarga, cada uno unido por uuna flecha-->
        <a mat-button class="button-diseño">Elige tu diseño</a>
        <div class="arrow-explicacion">➡️</div>
        <a mat-button class="button-personaliza">Personaliza</a>
        <div class="arrow-explicacion">➡️</div>
        <a mat-button class="button-comparte">Comparte</a>
        <div class="arrow-explicacion">➡️</div>
        <a mat-button class="button-descarga">Descarga</a>
    </div>
    <app-testimonials></app-testimonials>
</div>
<app-contact-form></app-contact-form>
<app-contact-wsp></app-contact-wsp>
<app-faq></app-faq>
<app-footer></app-footer>