
<app-header-home></app-header-home>
<!-- Separacion -->

<div class="card-home">
    <div class="container-principal">
        <div class="titulo">
            <mat-card-title>Crea invitaciones únicas para cualquier ocasión</mat-card-title>
            <mat-card-subtitle>¡La mejor opción para grandes y pequeños eventos!</mat-card-subtitle>
            <a mat-button class="button-crear"><mat-icon>add</mat-icon> Crear</a>
        </div>
        <div class="img-home">
            <img src="../../../assets/images/imagen-home.png" alt="tarjeta">
        </div>
    </div>
    <app-features-card></app-features-card>
</div>
<!-- Separacion -->
<div class="segundo_scroll">
    <div class="container-scroll-header">
        <div class="titulo-scroll">
            <mat-card-title class="titulo-scroll">Facil de editar</mat-card-title>
            <mat-card-subtitle class="subtitulo-scroll">Plantillas de invitaciones</mat-card-subtitle>
        </div>
        <div class="descripcion-scroll">
            <mat-card-content class="titulo-scroll">Crea tus propias tarjetas de invitación que a tus destinatarios
                les encantarán, comenzando con una plantilla diseñada profesionalmente. Tenemos invitaciones en
                blanco, invitación para boda, invitaciones para bautizo, invitaciones de primera comunión,
                invitaciones de despedida de soltera, invitaciones navideñas y mucho más. Explora nuestras opciones
                de plantillas a continuación.
            </mat-card-content>
        </div>
    </div>
    <div class="carrusel">
        <mat-card class="carousel-container">
            <div class="carousel">
                <div class="carousel-track" [style.transform]="getTransform()">
                    <!-- Duplicar la última imagen al inicio -->
                    <div class="carousel-slide" [class.current]="currentIndex === 0"
                        [class.previous]="currentIndex === totalImages - 1" [class.next]="currentIndex === 1">
                        <img [src]="images[totalImages - 1]" alt="carousel image">
                    </div>
                    <div class="carousel-slide" *ngFor="let image of images; let i = index"
                        [class.current]="currentIndex === i + 1" [class.previous]="currentIndex === i"
                        [class.next]="currentIndex === (i + 2) % totalImages">
                        <img [src]="image" alt="carousel image">
                    </div>
                    <!-- Duplicar la primera imagen al final -->
                    <div class="carousel-slide" [class.current]="currentIndex === totalImages + 1"
                        [class.previous]="currentIndex === totalImages" [class.next]="currentIndex === 0">
                        <img [src]="images[0]" alt="carousel image">
                    </div>
                </div>
            </div>
            <!-- Botones de navegación -->
            <div class="arrow arrow-left" (click)="previousSlide()">&#10094;</div>
            <div class="arrow arrow-right" (click)="nextSlide()">&#10095;</div>
        </mat-card>
    </div>
    <div class="button-container">
        <a mat-button class="button-crear2"><mat-icon>add</mat-icon> Crear</a>
        <a mat-button class="button-ver-plantillas">Ver más plantillas</a>
    </div>
</div>
<!-- Separacion -->
<div class="tercer_scroll">
    <div class="container-scroll-header">
        <div class="titulo-scroll">
            <mat-card-title class="titulo-scroll">Plantillas Destacadas</mat-card-title>
        </div>
    </div>
    <div class="carrusel">
        <mat-card class="carousel-container">
            <div class="carousel">
                <div class="carousel-track" [style.transform]="getTransform()">
                    <!-- Duplicar la última imagen al inicio -->
                    <div class="carousel-slide" [class.current]="currentIndex === 0"
                        [class.previous]="currentIndex === totalImages - 1" [class.next]="currentIndex === 1">
                        <img [src]="images[totalImages - 1]" alt="carousel image">
                    </div>
                    <div class="carousel-slide" *ngFor="let image of images; let i = index"
                        [class.current]="currentIndex === i + 1" [class.previous]="currentIndex === i"
                        [class.next]="currentIndex === (i + 2) % totalImages">
                        <img [src]="image" alt="carousel image">
                    </div>
                    <!-- Duplicar la primera imagen al final -->
                    <div class="carousel-slide" [class.current]="currentIndex === totalImages + 1"
                        [class.previous]="currentIndex === totalImages" [class.next]="currentIndex === 0">
                        <img [src]="images[0]" alt="carousel image">
                    </div>
                </div>
            </div>
            <!-- Botones de navegación -->
            <div class="arrow arrow-left" (click)="previousSlide()">&#10094;</div>
            <div class="arrow arrow-right" (click)="nextSlide()">&#10095;</div>
        </mat-card>
    </div>
    <div class="button-container">
        <!-- crea 4 botones, el primero llamado elige tu diseño, el segundo personaliza, el tercero comparte y el ultimo descarga, cada uno unido por uuna flecha-->
        <a mat-button class="button-diseño">Elige tu diseño</a>
        <div class="arrow-explicacion">➡️</div>
        <a mat-button class="button-personaliza">Personaliza</a>
        <div class="arrow-explicacion">➡️</div>
        <a mat-button class="button-comparte">Comparte</a>
        <div class="arrow-explicacion">➡️</div>
        <a mat-button class="button-descarga">Descarga</a>
    </div>
    <app-testimonials></app-testimonials>
</div>
<!-- Separacion -->
<app-contact-form></app-contact-form>

<app-faq></app-faq>
<!-- Separacion -->
<app-footer></app-footer>
<app-carrousel></app-carrousel>
