.example-spacer {
    flex: 1 1 auto;
}

.spacer {
    flex: 0 0 30px;
}

.linea-vertical-izq {
    position: relative;
    height: 60%;  /* Cambiar tamaño de línea vertical */
    width: 1px; 
    background-color: #ffffff; 
    left: 15px;
    top: 0;
}

.icon-rss {
    padding: 3px;
}

.boton-menu {
    font-size: 18px;
}

.login {
    border-radius: 15px !important;
    color: #ffffff !important;
    border: 1px solid #03e6da!important;
    padding: 0px !important;
    margin: 5px;
    background-color: #10dfb2 !important;
    box-shadow:2px 2px 10px rgb(255, 254, 254);
}

.sign-in {
    border-radius: 15px !important;
    color: white !important;
    border: 1px solid #00e9f1!important;
    padding: 0px !important;
}

a {
    width: 130px;
    height: 50px !important; 
    padding: 0px;
}

img {
    padding: 0px;
    margin-top: 9px;
}

.menu_header {
    background-color: #1A5276 !important;
}
/* hasta aqui estan las clases de la barra de navegacion */
/* desde aqui estan las clases de la pagina principal */
.mdc-card {
    display: flex;
    /* flex-direction: column; */
    box-sizing: border-box;
}

.titulo {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 50%;
}

mat-card-title {
    padding-left: 20%;
    padding-bottom: 2%;
    font-size: 40px;
    font-weight: bold;
    color: #00a39b;
}

mat-card-subtitle {
    padding-left: 20%;
    font-size: 20px;
    font-weight: bold;
}

.button-crear {
    margin-top: 2%;
    margin-left: 20% !important;
    border: 2px solid #2184c2 !important;
    border-radius: 15px !important;
}

.img-home {
    width: 50%;
    margin: 0;
}

img {
    width: 75%;
}

.container-principal {
    height: 60%;
    display: flex; /* Usar flexbox para alinear elementos horizontalmente */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centrar verticalmente */
    margin: 0px; /* Espacio inferior entre la clase principal y la clase check-card */
}

.check-card {
    height: 20%;
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    margin-bottom: 2%;
    
}


.card-container {
    display: flex;
    justify-content: space-around; /* Espacio entre las tarjetas */
}

.info-card {
    width: 30%; /* Ajustar el ancho de cada tarjeta */
    display: flex;
    align-items: center; /* Centrar el contenido verticalmente */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #ffffff; /* Color de fondo de la tarjeta */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra de la tarjeta */
}

.card-content {
    display: flex;
    align-items: center; /* Centrar el contenido verticalmente */
}

.check-icon {
    color: #03e6da; /* Color del icono */
    font-size: 20px; /* Tamaño del icono */
    margin-right: 10px; /* Espaciado entre icono y texto */
}

.card-description {
    font-size: 16px; /* Tamaño del texto */
    color: #333; /* Color del texto */
}
/* hasta aqui estan las clases de la pagina principal */
/* desde aqui estan las clases de la pagina de plantillas */
.container-scroll-header{
    display: flex;
}
.titulo-scroll{
    width: 80%;
    padding-top: 2%;
}
.descripcion-scroll{
    padding-top: 1%;
}
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo del carrusel */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px; /* Opcional: Bordes redondeados para darle un mejor estilo */
}
.carrusel{
    margin-top: 30px;
}
.carousel {
    margin-top: 200px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px; /* Ajusta la altura del carrusel */
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-slide {
    min-width: 90%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    position: relative;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin perder su proporción */
    object-position: center; /* Centra la imagen en su contenedor */
}

/* Efecto de difuminado */
.previous img, .next img {
    filter: blur(4px);
    opacity: 0.5;
}

.current img {
    opacity: 1;
    filter: none;
}

/* Estilos para los botones de flechas */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}
.button-container {
    display: flex;               /* Utiliza flexbox para alinear los botones */
    justify-content: center;     /* Centra los botones horizontalmente */
    align-items: center;         /* Centra los botones verticalmente */
    gap: 20px;                   /* Espacio entre los botones */
    margin-top: 20px;           /* Espacio superior para alejar los botones del contenido anterior */
}

.button-crear2,
.button-ver-plantillas {
    background-color: #1A5276;  /* Color de fondo */
    color: rgb(255, 255, 255) !important;                /* Color del texto */
    border-radius: 15px;         /* Bordes redondeados */
    padding: 10px 20px;          /* Espaciado interno */
    text-align: center;          /* Centra el texto dentro del botón */
    text-decoration: none;       /* Elimina subrayado del texto */
    font-weight: bold;           /* Negrita */
    transition: background-color 0.3s ease; /* Efecto de transición suave */
}

.button-crear2:hover,
.button-ver-plantillas:hover {
    background-color: #06d4f0;   /* Color de fondo al pasar el mouse */
    cursor: pointer;             /* Cambia el cursor al pasar el mouse */
}

.button-crear2 mat-icon,
.button-ver-plantillas mat-icon {
    margin-right: 8px;          /* Espacio entre el ícono y el texto */
}
/* hasta aqui estan las clases de la pagina de plantillas */
/* desde aqui estan las clases de la pagina de diseño  o tercer scroll*/
.button-diseño,
.button-personaliza,
.button-comparte,
.button-descarga {
    background-color: #5db1b4;     /* Color de fondo */
    color: white !important;                   /* Color del texto */
    border-radius: 15px;            /* Bordes redondeados */
    padding: 10px 20px;             /* Espaciado interno */
    text-align: center;             /* Centra el texto dentro del botón */
    text-decoration: none;          /* Elimina subrayado del texto */             /* Negrita */
    transition: background-color 0.3s ease; /* Efecto de transición suave */
}

.button-diseño:hover,
.button-personaliza:hover,
.button-comparte:hover,
.button-descarga:hover {
    background-color: #06d4f0;      /* Color de fondo al pasar el mouse */
    cursor: pointer;                /* Cambia el cursor al pasar el mouse */
}

.arrow-explicacion {
    font-size: 24px;                /* Tamaño de la flecha */
    line-height: 1;                 /* Ajusta la altura de la línea */
    padding: 0 10px;                /* Espacio alrededor de la flecha */
}
.testimonials {
    background-color: #ffffff;       /* Color de fondo de la sección */
    padding: 40px 20px;              /* Espaciado interno */
    text-align: center;               /* Centra el texto */
}

.testimonials h2 {
    font-size: 32px;                  /* Tamaño del título */
    margin-bottom: 20px;              /* Espacio debajo del título */
    color: #1A5276;                   /* Color del título */
}

.testimonial-container {
    display: flex;                    /* Utiliza flexbox para alinear las tarjetas */
    justify-content: center;          /* Centra las tarjetas horizontalmente */
    flex-wrap: wrap;                 /* Permite que las tarjetas se ajusten a varias líneas */
    gap: 20px;                       /* Espacio entre las tarjetas */
}

.testimonial-card {
    background-color: white;          /* Color de fondo de la tarjeta */
    border-radius: 10px;              /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
    padding: 20px;                    /* Espaciado interno de la tarjeta */
    width: 250px;                     /* Ancho fijo de las tarjetas */
    transition: transform 0.3s;      /* Efecto de transición al hover */
}

.testimonial-card:hover {
    transform: translateY(-5px);     /* Efecto de elevar la tarjeta al pasar el mouse */
}

.testimonial-text {
    font-size: 16px;                  /* Tamaño del texto del testimonio */
    color: #333;                      /* Color del texto */
    margin-bottom: 10px;              /* Espacio debajo del texto del testimonio */
}

.testimonial-author {
    font-size: 14px;                  /* Tamaño del texto del autor */
    color: #555;                      /* Color del texto del autor */
    font-style: italic;               /* Estilo en cursiva */
}
/* hasta aqui estan las clases de la pagina de diseño  o tercer scroll*/
/* desde aqui estan las clases de la pagina de contacto */
.contact-request {
    background-color: #fafafa;               /* Color de fondo más claro */
    padding: 60px 30px;                      /* Espaciado interno aumentado */
    text-align: center;                      /* Centra el texto */
    border-radius: 10px;                     /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    margin: 40px 0;                          /* Margen superior e inferior */
}

.request-header {
    margin-bottom: 30px;                     /* Espacio debajo del encabezado */
}

.contact-request h2 {
    font-size: 30px;                         /* Tamaño del título más grande */
    margin-bottom: 15px;                     /* Espacio debajo del título */
    color: #1A5276;                          /* Color del título */
    font-weight: bold;                       /* Negrita para el título */
}

.contact-request p {
    font-size: 18px;                         /* Tamaño del texto explicativo */
    color: #555;                             /* Color del texto más suave */
    margin-bottom: 30px;                     /* Espacio debajo del texto */
}

.request-form {
    display: flex;                           /* Utiliza flexbox para alinear los campos */
    flex-direction: column;                  /* Alinea los campos verticalmente */
    align-items: center;                     /* Centra los campos */
}

.form-group {
    width: 100%;                             /* Ancho completo */
    max-width: 450px;                       /* Ancho máximo para los campos */
    margin-bottom: 20px;                     /* Espacio entre los campos */
}

label {
    font-size: 16px;                         /* Tamaño de la etiqueta */
    color: #333;                             /* Color de la etiqueta */
    margin-bottom: 5px;                      /* Espacio debajo de la etiqueta */
    display: block;                          /* Hace que la etiqueta ocupe toda la línea */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;                             /* Ancho completo del campo */
    padding: 12px;                          /* Espaciado interno */
    border: 1px solid #ccc;                 /* Borde del campo */
    border-radius: 5px;                     /* Bordes redondeados */
    font-size: 16px;                         /* Tamaño de la fuente */
    transition: border-color 0.3s;          /* Transición suave para el color del borde */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #1A5276;                   /* Color del borde al enfocar */
    outline: none;                           /* Elimina el contorno predeterminado */
}

.submit-button {
    background-color: #1A5276;               /* Color de fondo del botón */
    color: white;                            /* Color del texto del botón */
    border: none;                            /* Sin borde */
    border-radius: 5px;                     /* Bordes redondeados */
    padding: 12px 25px;                      /* Espaciado interno del botón */
    font-size: 18px;                         /* Tamaño del texto del botón */
    cursor: pointer;                         /* Cursor de puntero */
    transition: background-color 0.3s, transform 0.3s; /* Transición suave */
}

.submit-button:hover {
    background-color: #0e3c5a;               /* Color de fondo al pasar el mouse */
    transform: translateY(-2px);            /* Efecto de elevación al pasar el mouse */
}
/* hasta aqui estan las clases de la pagina de contacto */
/* desde aqui estan las clases de la pagina de faq */
.faq-section {
    padding: 60px 20px;           /* Espaciado interno */
    background-color: #f8ffff;   /* Color de fondo suave */
    border-radius: 10px;          /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 40px 0;               /* Margen arriba y abajo */
}

.faq-section h2 {
    text-align: center;           /* Centrar el título */
    font-size: 36px;             /* Tamaño de fuente grande */
    color: #0362b1;              /* Color verde oscuro */
    margin-bottom: 30px;         /* Espacio debajo del título */
}

mat-accordion {
    max-width: 800px;            /* Ancho máximo del acordeón */
    margin: 0 auto;              /* Centrar el acordeón */
}

mat-expansion-panel {
    margin-bottom: 15px;         /* Espacio entre paneles */
    border: 1px solid #04c4dd;   /* Borde celeste */
    border-radius: 8px;          /* Bordes redondeados */
    background-color: rgba(0, 174, 255, 0.103);

   margin-left: 10%;
    margin-right: 10%
}

mat-expansion-panel-header {
    background-color: #3a94df33;   /* Color de fondo celeste para el encabezado */
    transition: background-color 0.3s; /* Suavizar el cambio de color */
}

mat-expansion-panel-header:hover {
    background-color: #003fec;   /* Efecto hover para el encabezado */
}

mat-panel-title {
    font-weight: bold;            /* Negrita para el título */
    font-size: 18px;             /* Tamaño de fuente para el título */
    color: #002e4d;              /* Color verde oscuro */
}

mat-panel-description {
    font-size: 14px;             /* Tamaño de fuente más pequeño */
    color: #02719c;              /* Color verde para la descripción */
}
/* hasta aqui estan las clases de la pagina de faq */
/* desde aqui estan las clases del footer */
.footer-info p {
    padding: 15px;               /* Espacio interno para la respuesta */
    border-top: 1px solid #80deea; /* Línea entre pregunta y respuesta */
    border-radius: 0 0 8px 8px; /* Bordes redondeados en la parte inferior */
    font-size: 16px;             /* Tamaño de fuente para respuestas */

}

.footer {
    background-color: #1A5276;                /* Color de fondo del pie de página */
    color: white;                             /* Color del texto */
    padding: 40px 20px;                      /* Espaciado interno */
    text-align: center;                       /* Centra el texto */
}

.footer-container {
    display: flex;                            /* Flexbox para alinear los elementos */
    flex-direction: column;                   /* Coloca los elementos en columna */
    max-width: 1200px;                       /* Ancho máximo */
    margin: 0 auto;                          /* Centra el contenedor */
}

.footer-info {
    margin-bottom: 30px;                     /* Espacio debajo de la sección de información */
}

.footer-info h3 {
    font-size: 24px;                         /* Tamaño del título */
    margin-bottom: 10px;                     /* Espacio debajo del título */
}

.footer-info p {
    font-size: 14px;                         /* Tamaño del texto */
    margin: 5px 0;                           /* Margen arriba y abajo */
}

.footer-links {
    margin-bottom: 30px;                     /* Espacio debajo de la sección de enlaces */
}

.footer-links h4 {
    font-size: 18px;                         /* Tamaño del título */
    margin-bottom: 10px;                     /* Espacio debajo del título */
}

.footer-links ul {
    list-style: none;                        /* Sin viñetas en la lista */
    padding: 0;                             /* Sin padding */
}

.footer-links li {
    margin: 5px 0;                          /* Margen entre los elementos de la lista */
}

.footer-links a {
    color: #e0e0e0;                          /* Color de los enlaces */
    text-decoration: none;                   /* Sin subrayado en los enlaces */
}

.footer-links a:hover {
    color: #fff;                             /* Color de los enlaces al pasar el mouse */
}

.footer-social {
    margin-bottom: 20px;                     /* Espacio debajo de la sección social */
}

.footer-social h4 {
    font-size: 18px;                         /* Tamaño del título */
    margin-bottom: 10px;                     /* Espacio debajo del título */
}

.social-icons {
    display: flex;                           /* Flexbox para alinear los iconos */
    justify-content: center;                 /* Centra los iconos */
}

.social-icons a {
    margin: 0 10px;                          /* Margen horizontal entre iconos */
}

.social-icons img {
    width: 30px;                             /* Tamaño de los iconos */
    height: 30px;                            /* Tamaño de los iconos */
    transition: transform 0.3s;             /* Transición suave para efectos */
}

.social-icons img:hover {
    transform: scale(1.1);                   /* Efecto de aumento al pasar el mouse */
}
/* hasta aqui estan las clases del footer */
/* desde aqui estan las clases del header */
@media (max-width: 600px) {
    .boton-menu {
        /* esconder texto */
        display: none;
    }
}
