/* Sección FAQ */
.faq-section {
    padding: 60px 20px;
    background-color: #f8ffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
}

.faq-section h2 {
    text-align: center;
    font-size: 2.2em;
    color: #0362b1;
    margin-bottom: 30px;
}

mat-accordion {
    max-width: 800px;
    margin: 0 auto;
}

mat-expansion-panel {
    margin-bottom: 15px;
    border: 1px solid #04c4dd;
    border-radius: 8px;
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}

/* Panel Header */
mat-expansion-panel-header {
    display: flex;               /* Usar flexbox para ajustar el contenido */
    justify-content: space-between;
    align-items: center;
    background-color: #45abff33;
    transition: background-color 0.3s ease-in-out;
    overflow-wrap: break-word;    /* Ajustar palabras largas */
    word-break: break-word;
    max-width: 100%;              /* Asegurar que el contenido no desborde */
}

mat-expansion-panel-header:hover {
    background-color: #003fec;
}

/* Título dentro del panel */
mat-panel-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #002e4d;
    white-space: normal;          /* Permitir salto de línea */
    word-break: break-word;       /* Forzar ajuste de palabras largas */
    max-width: 70%;               /* Limitar el ancho del título */
    overflow-wrap: break-word;
    overflow: hidden;             /* Evitar desbordamientos */
    text-overflow: ellipsis;      /* Añadir puntos suspensivos si es demasiado largo */
}

/* Descripción dentro del panel */
mat-panel-description {
    font-size: 1em;
    color: #02719c;
    white-space: normal;
    word-break: break-word;
    max-width: 25%;               /* Limitar el ancho de la descripción */
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;      /* Puntos suspensivos si es demasiado largo */
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 600px) {
    mat-panel-title {
        font-size: 0.9em;         /* Reducir el tamaño de fuente */
        white-space: normal;
        word-break: break-word;
        max-width: 60%;           /* Ajustar ancho en pantallas pequeñas */
        overflow: hidden;
        text-overflow: ellipsis;  /* Puntos suspensivos si el texto es largo */
    }

    mat-panel-description {
        font-size: 0.61em;         /* Reducir el tamaño de fuente */
        max-width: 30%;           /* Ajustar ancho de la descripción */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Ajustar el espaciado y márgenes */
    mat-expansion-panel {
        margin-left: 5%;
        margin-right: 5%;
    }
}
