/* desde aqui estan las clases de la pagina de faq */
.faq-section {
    padding: 60px 20px;           /* Espaciado interno */
    background-color: #f8ffff;   /* Color de fondo suave */
    border-radius: 10px;          /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 40px 0;               /* Margen arriba y abajo */
}

.faq-section h2 {
    text-align: center;           /* Centrar el título */
    font-size: 36px;             /* Tamaño de fuente grande */
    color: #0362b1;              /* Color verde oscuro */
    margin-bottom: 30px;         /* Espacio debajo del título */
}

mat-accordion {
    max-width: 800px;            /* Ancho máximo del acordeón */
    margin: 0 auto;              /* Centrar el acordeón */
}

mat-expansion-panel {
    margin-bottom: 15px;         /* Espacio entre paneles */
    border: 1px solid #04c4dd;   /* Borde celeste */
    border-radius: 8px;          /* Bordes redondeados */
    background-color: rgba(0, 174, 255, 0.103);

   margin-left: 10%;
    margin-right: 10%
}

mat-expansion-panel-header {
    background-color: #3a94df33;   /* Color de fondo celeste para el encabezado */
    transition: background-color 0.3s; /* Suavizar el cambio de color */
}

mat-expansion-panel-header:hover {
    background-color: #003fec;   /* Efecto hover para el encabezado */
}

mat-panel-title {
    font-weight: bold;            /* Negrita para el título */
    font-size: 18px;             /* Tamaño de fuente para el título */
    color: #002e4d;              /* Color verde oscuro */
}

mat-panel-description {
    font-size: 14px;             /* Tamaño de fuente más pequeño */
    color: #02719c;              /* Color verde para la descripción */
}