<div class="carousel-container">
    <div class="main-image">
      <div class="descripcion-img">
          <p>{{images[currentIndex].descripcion}}</p>
          <p>${{images[currentIndex].precio}}</p>
      </div>
      <img [src]="images[currentIndex].src" [alt]="images[currentIndex].alt" />
    </div>
    <div class="image-list">
      <div *ngFor="let image of images; let i = index" (click)="changeSlide(i)"
          [ngClass]="{'active': i === currentIndex, 'inactive': i !== currentIndex}">
        <img [src]="image.src" [alt]="image.alt" />
        <div class="info">
          <p>{{ image.titulo }}</p>
          <p>{{ image.subtitulo }}</p>
        </div>
      </div>
    </div>
  </div>
  