<app-header-main></app-header-main>
<h1>¡Selecciona tu temática de hoy!</h1>
<app-carousel-circular></app-carousel-circular>
<h1 style="text-align: center; font-size: small; justify-content: center; color:rgb(209, 209, 209)">Todos los derechos de autor utilizados pertenecen a sus respectivos propietarios y no deben ser vendidos. Cada Video es solo para su USO PERSONAL dentro del criterio jurisprudencial de uso razonable y uso limitado.
    No se debe revender por ningún motivo. El costo del video es por nuestro servicio creativo y el tiempo dedicado a diseñar y personalizar su video.
    No se vende, ni puede reclamarse la propiedad sobre la música, diseños o gráficos de los personajes.Estos pertenecen a los respectivos titulares de los derechos de autor.</h1>

