/* General layout */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images2.alphacoders.com/130/1308322.jpeg');/*copiar direccion del vinculo*/
    background-size: cover;
  }
  .login-box:hover{
    transform : translateY(-2px);
  }
  
  
  .login-box {

    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(10px);
  }
  
  h2 {
    margin-bottom: 20px;
    color: #fafafa;
    font-weight: bold;
    font-size: 25px;
  }
  
  /* Form styles */
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    font-size: 14px;
    color: #ffffff;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Buttons */
  .btn-login {
    width: 100%;
    padding: 10px;
    background-color: #3396ff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .btn-login:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  .divider {
    margin: 20px 0;
    color: #aaa;
    font-size: 14px;
  }
  
  /* Google login button */
  .btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    color: #555;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .btn-google:hover {
    background-color: #f5f5f5;
  }
  
  .google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  i{
    margin-right: 10px;
  }
  p{
    color: #ffffff;
  }