@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

.body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw;
    border: solid 1px rgba(12, 6, 6, 0.2);
    border-radius: 50px;
    overflow: hidden;
    padding: 20px;
    transition: all 700ms ease-in;
}

/* Paneles en pantallas grandes */
.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    flex: 0.3;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;
}

.panel.half-blur {
    filter: blur(3px); /* Efecto de difuminado */
}

.panel:hover {
    transform: scale(1.05); /* Aumenta el tamaño del panel al pasar el mouse */
    z-index: 1; /* Lleva el panel hacia el frente */
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    backdrop-filter: blur(20px); /* Efecto de difuminado */
}

.panel.active {
    flex: 0.5; /* Expande el panel al hacer clic */
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

/* Paneles en pantallas pequeñas (celulares) */
@media (max-width: 480px) {

    .container {
        flex-direction: column; /* Apila los paneles verticalmente */
        height: 900px;
    }
    .panel {
        flex: 1;
        height: 10vh; /* Ajusta la altura de los paneles en pantallas pequeñas */
        margin: 5px 0; /* Ajusta el margen para que se vea mejor verticalmente */
    }
    .panel.active {
        flex: 10; /* Expande el panel al hacer clic */
        height: 700vh; /* Expande el panel verticalmente en pantallas pequeñas */
    }
}
