<div class="check-card">
    <div class="card-container">
        <mat-card class="info-card">
            <div class="card-content">
                <mat-icon class="check-icon">check_circle</mat-icon>
                <span class="card-description">Crea invitaciones impresionantes y personalizadas en
                    minutos.</span>
            </div>
        </mat-card>
        <mat-card class="info-card">
            <div class="card-content">
                <mat-icon class="check-icon">check_circle</mat-icon>
                <span class="card-description">Personaliza el diseño con tus colores y estilos
                    favoritos.</span>
            </div>
        </mat-card>
        <mat-card class="info-card">
            <div class="card-content">
                <mat-icon class="check-icon">check_circle</mat-icon>
                <span class="card-description">Comparte tus invitaciones a través de email y redes
                    sociales.</span>
            </div>
        </mat-card>
    </div>
</div>